$xs-font: 0.7rem;
$s-font: 0.9rem;
$m-font: 1rem;
$l-font: 1.3rem;
$xl-font: 1.5rem;


body{
    font-family: Arial, Helvetica, sans-serif;
}

@mixin title-big(){
    font: {
        size: 2.3rem;
        weight: 900;
    }
    text-shadow: 1px 1px black;
   
};